{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<header>, initial-scale=1.0">
    <title>Gean Feitosa Cavalcante</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="shortcut icon" href="{%static 'img/letra-g.png'%}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="conteiner-nav">
            <div>
                <img class="perfil" src="{%static 'img/Gean Cavalcante.jpeg'%}" alt="Gean Feitosa Cavalcante">
                <h1>Gean Feitosa Cavalcante</h1>
    
            </div>
        </div>
        <nav>
            <p class="navs"><a href="{% url 'postagens'%}">Postagens</a></p>
            <p class="navs"><a href="{% url 'sobre'%}">Sobre</a></p>
            <p class="navs"><a href="{% url 'livros'%}">Livros</a></p>
        </nav>
    </header>
    {% block conteiner %}
    {% endblock conteiner%} 
    
    {% block social-midia%} 
    {% endblock social-midia%}

    {% block books%}
    {% endblock books%}
</body>
</html>