{% extends 'base.html'%}
{% load static%}

    {% block social-midia%}
        <section class="conteiner-home">
            <div class="social-midia">
                <a href="https://github.com/geancavalcante"><img class="img-social-midia" src="{%static 'img/github.png'%}" alt="github/ Gean Cavalcante"></a>
                <a href="https://www.instagram.com/gean_cavalcante__01/"><img  class="img-social-midia" src="{%static 'img/instagram.png'%}" alt="instagram/ Gean Cavalcante"></a>
                <a href="https://www.linkedin.com/in/gean-feitosa-cavalcante-648a72282/"><img  class="img-social-midia"src="{%static 'img/linkedin.png'%}" alt="Linkedin/ Gean Cavalcante"></a>
            </div>
        </section>  
    {% endblock social-midia%}
