{% extends "base.html" %}

{% block conteiner%}
<main>
    <section class="conteiner-1">
        <div class="conteiner">
            <div>
                <h2>Sobre min</h2>
            </div>
            <div>
                 <p class="text-sobre">Sou Gean Feitosa Cavalcante, Sou Back-and Developer, desenvolvo Scripts e aplicações em Python desde os 13 anos de idade, especialmente aplicações para Web. Desenvolvo automações também para web e para desktops. Sou pregador da Palavra de Deus. Tenho experiência com: <Strong>Django FrameWork</Strong>.E bibliotecas como:<Strong>Pandas, pyautogui, Selenium<Strong>.Sou amante da tecnologia, e aprecio muitos as áreas de: <strong>Teologia, TI , Astronomia, Física, Política, Econômia<strong></p>
            </div>
        </div>
    </section>

    <section class="conteiner-2">
        <div>
            <h3>Detalhes</h3>
            <div class="conteiner-3">
                <p class="detals">Nome:</p>
                <p id="name" >Gean Feitosa Cavalcante</p>
                <p class="detals">Idade:</p>
                <p id="years">17 Anos</p>
                <p id="detals-1" >Contatos:</p>
                <p id="email">gean.dev2018@gmail.com <br>
                <span style='font-size:30px;'>&#128381;</span>: +55 99 7400-8012</p>
            </div>  
        </div>
    </section>
</main>
{% endblock conteiner%}